.custommodal {
  background-color: rgba(163, 137, 106, 0.849);
  display: none;
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
}
.custommodal.open {
 display: block;
}

.custommodal .position-center {
  position: fixed;
  width: 600px; 
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}
.custommodal .position-center i {
  font-size: 150px;
}
a {
  text-decoration: none;
  color: #ffffff;
  font-size: 10em;
  display: block;
  padding: 10px 15px;
  margin: 10px ;
  border-right: 10px solid whitesmoke;
  transition: font-weight .20s;
}
 
a:hover, a.active {
  font-size: 30px;  
}

.foto{
  background: url(../../image/telo.jpg) no-repeat;
  background-size:contain;
  width: 200px;
  height: 300px;

}
.foto1{
  background: url(../../image/max.jpeg) no-repeat;
  background-size:contain;
  width: 400px;
  height: 300px;
  
}
.foto2{
  background: url(../../image/kod.jpg) no-repeat;
  background-size:contain;
  width: 400px;
  height: 300px;
  
}
.text{
  color: white;
  margin-left: -20;
  float: right;
  margin-top: -275px;
  font-size: 14px;
}


.footer{
  border: 2px double ;
  background: rgba(2, 2, 2, 0.26); 
  padding: 10px; 
  margin-top: 100px;
  color: white;
}

 ::-webkit-scrollbar {
  width: 0px;
  height: 0px;
  }
  
  ::-webkit-scrollbar-button {
  width: 0px;
  height: 0px;
  }
  .horizontal-scroll-wrapper {
  position: absolute;
  display: block;
  top: 50px;   
  left: -500px;
  width: calc(750px + 1px);
  max-height: 2000px;
  margin: 25px;
  /* padding-top: 700px; */
  /* background: #abc; */
  overflow-y: auto;
  overflow-x: hidden;
  -webkit-transform: rotate(-90deg) translateY(-250px);
  transform: rotate(-90deg) translateY(-250px);
  -webkit-transform-origin: right top;
  transform-origin: right top;
  } 
  .horizontal-scroll-wrapper > div {
  display: block; 
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
  /* -webkit-transform-origin: right top;
  transform-origin: right top; */
  }
  
  .squares {
  padding: 300px ;
  }
  .squares > div {
  width: 210px;
  height: 350px;
  margin: 10px;
  margin-top: -120px;
  margin-left: 50px;
  background-color: rgba(34, 34, 34, 0.664);
  border: 2px;
  border-color: #ffffff;
}
p{
  font-size: 20px;
  color: #ffffff
}
.BackToFilm{
  
  width: 200px;
  height: 300px;
}