::-webkit-scrollbar {
  width: 1px;
  height: 1px;
}

::-webkit-scrollbar-button {
  width: 1px;
  height: 1px;
}



.horizontal-scroll-wrapper {
  position: absolute;
  display: block;
  top: 50px;
  left: -500px;
  width: calc(750px + 1px);
  max-height: 2000px;
  margin: 25px;
  /* padding-top: 700px; */
 background: #abc;
  overflow-y: auto;
  overflow-x: hidden;
  -webkit-transform: rotate(-90deg) translateY(-250px);
          transform: rotate(-90deg) translateY(-250px);
  -webkit-transform-origin: right top;
          transform-origin: right top;
}
.horizontal-scroll-wrapper > div {
  display: block;
  padding: px;
  background: rgb(255, 0, 0);
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  /* -webkit-transform-origin: right top;
          transform-origin: right top; */
}

.squares {
  padding: 250px ;
}
.squares > div {
 width: 500px;
  height: 400px;
  margin: -100px; 
  
   border: 100px double ;
}