#form-content
{
    padding: 5%;
    margin-bottom: 2%;
    background: url(../Registration/Images/container-bg.png) no-repeat;
    background-size:contain;
    height: 600px;
}

.btnSubmit
{
    border:none;
    border-radius:1.5rem;
    padding: 1%;
    width: 20%;
    cursor: pointer;
    background: -webkit-linear-gradient(right, #1d3655, #000000);
    color: #fff;
    margin-top:100px;
    margin-left:450px;

}
#row{
    margin: 5px;
    margin-top: 80px;
    margin-left: 60%;
    width: 200px;
}