.form-content{
   
    background: url(../../image/telo.jpg) no-repeat;
    background-size:contain;
    width: 400px;
    height: 300px;
}
.left{
    margin-left: 750px;
    width: 400px;
    height: 300px;
    margin-top: -400px;
}
.text{
    margin-left: 350px;
    color: white;
}
.text_g{
    color: white;
}
.center{
    margin-left: 185px;
    display: inline-block;
    font-weight: 700;
    background-color: rgba(49, 49, 49, 0.616);
    color: white;
    text-decoration: none;
    user-select: none;
    padding: .5em 2em;
    outline: none;
    border: 2px solid;
    border-radius: 1px;
    transition: 0.2s;
    position: relative; /* Относительное позиционирование */
    top: 200px; /* Сдвигаем текст вверх */
    left: 50px; /* Сдвигаем текст вправо */
    
}
